html, body {
	margin: 0;
	padding: 0;
	line-height: 0;
}

#dj {
	width: 100vw;
	height: auto;

	background-color: lightGray;
}

@media screen and (min-aspect-ratio: 2/1) {
	#dj {
		width: auto;
		height: calc(100vh - 60px);
	}
}

#create, #blend {
	height: 60px;
	width: 50%;
	color: white;
	font-size: 30px;

	cursor: pointer;
	display: inline-block;
	position: relative;

	border: none;
	outline: none;
}

#create {
	background-color: #607D8B;
}

#create:hover {
	background-color: #2196F3;
}

#create_text {
	opacity: 0.99;
}

#progress {
	width: 0%;
	height: 100%;
	background-color: #F44336;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

#blend {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: #757575;
}